{% extends "instructor_template.twig" %}

{% block instructor %}
<form action="results.php" method="post">
    <div class="card is-fullwidth">
        <header class="card-header">
            <p class="card-header-title">Edit</p>
                    <button class="button is-primary" type="submit" name="submitchanges"> Apply changes </button><br>
        </header>
        <div class="card-content">
                <div class="content">
                    <article class="message">
                        <div class="message-header">
                            Score
                        </div>
                        <div class="message-body">
                            <input type="text" name="score" size=4 value="{{ exam.score }}">
                        </div>
                    </article>
                    <article class="message">
                        <div class="message-header">
                            Feedback
                        </div>
                        <div class="message-body">
                            <textarea name="feedback" rows="14" cols="80">{{ exam.feedback }}</textarea><br>
                        </div>
                        <input type="hidden" name="id" value="{{ exam.id }}">
                    </article>
                </div>
            </div>
    </div>
</form>
{% endblock %}