.exam {
    margin: 10px;
}

.editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Clear Bulma-PrismJS conflict */
.number {
    background-color: unset;
    border-radius: unset;
    display: unset;
    font-size: unset;
    vertical-align: unset;
}