.exam {
    margin: 10px;
}

code {
    color: #000;
    background: transparent;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    margin-bottom: 10px;
    max-height: 600px;
    overflow: auto;
    width: auto;
}

.editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}