<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <script src="static/site.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.1.0/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/site.css">
</head>
<body>

    {% block site %}{% endblock %}
</body>
</html>